#overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed; /* Sit on top of the page content */
    background-color: rgba(0,0,0,0.7); /* Black background with opacity */
    z-index: 200;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.3s ease-in-out;
}

#overlay a{
    cursor: pointer;
}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2.4em;
    text-align: center;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#text span{
    opacity: 20%;
}

@media screen and (max-width: 740px) {
    #text p,a{
        font-size: 1.75rem;
    }
}

@media screen and (max-width: 500px) {
    #text p,a{
        font-size: 1.45rem;
    }
}

@media screen and (max-width: 370px) {
    #text p,a{
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 300px) {
    #text p,a{
        font-size: 1rem;
    }
}