.is-shiny {
    color: var(--foreground-shine);
}

.is-shiny:hover{
    background: -webkit-gradient(
        linear, left top, right top,
        from(#222),
        to(#222),
        color-stop(0.7, #fff)
    );
    background: -moz-gradient(
        linear, left top, right top,
        from(#222),
        to(#222),
        color-stop(0.7, #fff)
        );
    background: gradient(
        linear, left top, right top,
        from(#222),
        to(#222),
        color-stop(0.7, #fff)
        );
    background-size: 4.5rem 100%;

    -webkit-background-clip: text;
    background-clip: text;
    
    animation-name: shimmer;
    animation-duration: 1.6s;
    animation-iteration-count: 1;
    background-repeat: no-repeat;
    background-position: top right;
    background-color: #222;
}

@keyframes shimmer {
    0% {
        background-position: top left;
    }
    70%{
        background-position: top right;
    }
    100% {
        background-position: top right;
    }
}