@font-face {
    font-family: 'Rocket';
    src: url('/fonts/rocketWilderness.otf') format('opentype');
}

:root{
    --background: #383838;
    --foreground: #fff;
    --foreground-shine: #ffffffb0;
    --emphasis: #24A4FF;
    --disabled: #999;
}

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background);
    color: var(--foreground);
    overflow-y: hidden;
    overflow-x: hidden;
}

h1,h2{
    font-family: 'Rocket';
    color: var(--foreground-shine);
}

h1{
    font-size: 3rem;
}

.is-closer{
    letter-spacing:-0.2em;
    margin-left: -0.1em;
    margin-right: 0.1em;
}

#scene{
    position: absolute;
    width: 100%;
    height: 100%;
}

.is-vector{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.is-vector img{
    width: 60vh;
}

#main{
    position: relative;
    height: 94vh;
}

#quotes{
    display: block;
    position: absolute;
    max-width: 18rem;
    top: 28%;
    left: 22%;
}

#title{
    display: block;
    position: absolute;
    max-width: 18rem;
    top: 14%;
    left: 58%;
}

#menu{
    display: block;
    position: absolute;
    top: 64%;
    left: 66%;
}

#menu a{
    color: inherit;
    text-decoration: none;
}

#menu ul,li{
    list-style-type: none;
    list-style-position:inside;
    margin:0;
    padding:0;
}

#menu li{
    font-size: xx-large;
    padding-bottom: 0.5rem;
    text-shadow: -2px 2px 5px black;
    transition: 0.45s;
}

.is-enabled{
    color: var(--foreground);
}

#menu .is-enabled:hover{
    text-align: center;
    font-size: 3rem;
    color: var(--emphasis);
    transform: scale(1.4);
}

.is-disabled{
    color: var(--disabled);
}

#options{
    display: flex;
    position: absolute;
    margin-top: 1rem;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

#options > label{
    margin-right: 1rem;
}

#quotes q{
    font-size: x-large;
}
/* Media queries */
@media only screen and (max-width: 700px) {
    #title{
        display: flex;
        margin: 0;
        width: 100vw;
        position: relative;
        top: 14%;
        left: 0;
        
    }

    #title > .is-shiny{
        min-width: 100vw;
        text-align: center;
    }

    #quotes{
        left: 5%;
    }

    #quotes q{
        font-size: large;
    }

    #quotes > #quoteAuthor{
        font-size: medium;
    }

    #menu{
        left: 60%;
    }

    .is-vector img{
        width: 80vw;;
    }

    #menu .is-enabled:hover{
        text-align: center;
        font-size: 2.5rem;
        color: var(--emphasis);
        transform: scale(1.2);
    }
}

@media only screen and (max-width: 330px){
    #menu{
        left: 50%;
    }

    .is-vector img{
        width: 70vw;;
    }

    #menu .is-enabled:hover{
        text-align: center;
        color: var(--emphasis);
        transform: scale(1.05);
    }
}