#projects {
  height: 100%;
}

#projects > main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 20%);
  gap: 0px 0px;
  padding: 0 4%;
  overflow-y: auto;

  .project-card {
    height: 10rem;
  }
}

@media screen and (max-width: 1200px) {
  #projects > main {
    grid-template-columns: 100%;
    padding: 0 5% 2% 5%;
  }
}
